[defaults]
# ARZENS Week 06-07 Combined Assignment - Task 6: Ansible Hardening & Compliance
# Configuration File: ansible.cfg

inventory               = hosts.ini
roles_path              = roles
host_key_checking       = False
timeout                 = 30
retry_files_enabled     = False
remote_user             = ubuntu
gathering               = smart
fact_caching            = memory
callbacks_enabled       = timer, profile_tasks
stdout_callback         = yaml

[privilege_escalation]
become                  = True
become_method           = sudo
become_user             = root
become_ask_pass         = False

[ssh_connection]
pipelining              = True
ssh_args                = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
